<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Some Website</title>
</head>

<body>
    <h1>Will be right Back</h1>

    <p>Status currently being updated</p>

</body>

</html>